body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin: auto;
    width: 100%;
}

header nav {
    margin: 40px 55px;
}

header nav section {
    margin: auto;
    width: 35%;
}

.text-right {
    text-align: right;
}

#left p {
    border-left: 2px solid #000;
    margin: 15px 0 13px 30px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
}

#bulle {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 50px;
}

#ul-left ul {
    padding: 0 140px;
    font-weight: bold;
    letter-spacing: 1px;
}

#ul-left ul li {
    list-style: none;
    padding: 10px;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
}

#ul-left ul li::after {
    padding: 0 20px;
    content: ".";
}

#ul-left ul li:last-child::after {
    padding: 0 10px;
    content: "";
}

#ul-left ul li a, #ul-right ul li a {
    color: #000;
    text-decoration: none;
}

#ul-right ul li {
    list-style: none;
}

.text-right {
    padding-left: 20%;
}

#ul-right ul li {
    list-style: none;
}

#ul-right ul li:first-child {
    font-weight: bold;
    margin-right: 15px;
    padding-top: 10px;
}

#ul-right ul li:last-child {
    background-color: #000;
    border-radius: 20px;
    margin-left: 20px;
    padding: 12px 38px;
    animation: bg-move linear 5s infinite;
    background-image: linear-gradient(270deg, rgba(100, 181, 239, 0) 48.44%, #64b5ef 75.52%, rgba(100, 181, 239, 0) 100%);
    background-repeat: no-repeat;
}

#ul-right ul #last-ul a {
    color: #fff;
}